@page "/identity/register"

@using SalesTrack.Model.ApplicationModels
@using SalesTrack.Model.Enums
@using SalesTrack.Model.InputModels
@using SalesTrack.Web.Validator

@inject HttpClient http
@inject NavigationManager navManager

<MudPaper Style="position:relative;" Class="pa-4" Outlined="false" Square="false" Elevation="0">
    <MudText Typo="Typo.h3">Registration</MudText>
    <MudGrid>
        <MudItem xs="12" lg="7">
            <MudPaper Class="pa-4">
                <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" Model="@model" Disabled="@loading">
                    <MudTextField T="string" Label="Firstname" @bind-Value="model.FirstName" Required="true" RequiredError="Firstname is required" Class="mt-4" />
                    <MudTextField T="string" Label="Lastname" @bind-Value="model.LastName" Required="true" RequiredError="Lastname is required" Class="mt-4" />
                    <MudSelect T="string" Label="Gender" ValueChanged="@(value => UpdateGender(value))" Class="mt-4">
                        @foreach (var gender in Enum.GetValues(typeof(Gender)))
                        {
                            <MudSelectItem T="string" Value="@gender.ToString()">@gender</MudSelectItem>
                        }
                    </MudSelect>
                    <MudDatePicker Label="Date of birth" DateChanged="@(value => model.BirthDate = value)" Class="mt-4" />
                    <MudTextField T="string" Label="Email" @bind-Value="model.Email" Validation="@(new EmailOnlyAttribute() {ErrorMessage = "Invalid email"})" Required="true" RequiredError="Email is required" Class="mt-4" />
                    <MudTextField T="string" Label="Password" @bind-Value="model.Password" InputType="InputType.Password" Validation="@(new PasswordAttribute() {ErrorMessage = "Password must contain atleast 8 characters, one uppercase letter, one number and one symbol"})" Required="true" RequiredError="Password is required" Class="mt-4" />
                    <MudTextField T="string" Label="Confirm password" @bind-Value="model.ConfirmPassword" InputType="InputType.Password" Validation="@(new Func<string, string?>(PasswordMatch))" Required="true" RequiredError="Password does not match" Class="mt-4" />

                    <div class="d-flex align-center justify-space-between mt-4">
                        <MudSpacer />
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" DropShadow="false" OnClick="@(()=>{form.ResetAsync(); form.ResetValidationAsync();})" Class="mx-2">Reset</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@(async () => await HandleValidSubmit())">Register</MudButton>
                    </div>
                </MudForm>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" lg="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle2">Errors (@errors.Length):</MudText>
                @foreach (var error in errors)
                {
                    <MudText Color="@Color.Error">@error</MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudOverlay Visible="loading" LightBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
</MudPaper>

@code {
    bool success;
    string[] errors = { };
    MudForm form = new();
    ApplicationUserRegisterInputModel model = new ApplicationUserRegisterInputModel
    {
        FirstName = "",
        LastName = "",
        Email = "",
        Password = "",
        ConfirmPassword = ""
    };
    bool loading = false;
    
    private async Task HandleValidSubmit()
    {
        if (loading)
            return;

        loading = true;
        errors = [];

        try
        {
            var response = await http.PostAsJsonAsync("Identity/Authentication/register", model);
            if (response.IsSuccessStatusCode)
            {
                navManager.NavigateTo("/Identity/login");
                return;
            }

            var errorResponse = await response.Content.ReadFromJsonAsync<ResponseModel<bool>>();
            errors = [errorResponse?.Message ?? "Registration failed."];
        }
        catch (Exception ex)
        {
            errors = [ex.Message];
        }
        finally
        {
            loading = false;
        }
    }

    private string? PasswordMatch(string confirmPassword)
    {
        if (model.Password != confirmPassword)
        {
            return "Passwords do not match.";
        }
        return null;
    }
    
    private void UpdateGender(string value)
    {
        if (Enum.TryParse<Gender>(value, out var parsedGender))
            model.Gender = parsedGender;
        else
            model.Gender = Gender.Other;
    }
}
